<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Stylight Technical Task.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>015EFB961F1C61500015E97A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>015EFBAA1F1C61500015E97A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>015EFBB51F1C61500015E97A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>019619111F204E3000450660</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
