<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Brand - 0</key>
	<dict>
		<key>id</key>
		<string>0</string>
		<key>name</key>
		<string>Zero</string>
		<key>logo</key>
		<string>&quot;&quot;</string>
	</dict>
	<key>Brand - 1</key>
	<dict>
		<key>id</key>
		<string>1</string>
		<key>name</key>
		<string>One</string>
		<key>logo</key>
		<string>&quot;&quot;</string>
	</dict>
	<key>Brand - 2</key>
	<dict>
		<key>id</key>
		<string>2</string>
		<key>name</key>
		<string>Two</string>
		<key>logo</key>
		<string>&quot;&quot;</string>
	</dict>
</dict>
</plist>
